<!-- Start::app-sidebar -->
<aside class="app-sidebar sticky" id="sidebar">
    <div class="main-sidebar-header text-center py-3">
        <a href="/Home/Index" class="header-logo d-block">
            <img src="../assets/images/brand-logos/TixxpLogo.png" alt="logo" class="desktop-logo mx-auto d-block">
        </a>
    </div>
    <div class="main-sidebar" id="sidebar-scroll">
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="main-sidebar-loggedin text-center py-4">
                <div class="app-sidebar__user">
                    <div class="avatar avatar-xl avatar-rounded bg-primary text-white mx-auto mb-2 d-flex align-items-center justify-content-center">
                        <i class="bi bi-person fs-24"></i>
                    </div>
                    <div>
                        <h6 class="mb-3 fs-15 fw-semibold text-dark">
                            @User.FindFirst("FirstName")?.Value @User.FindFirst("LastName")?.Value
                        </h6>
                    </div>
                </div>
            </div>
            <ul class="main-menu text-wrap">

                @* Satış *@
                @if (User.IsInRole("TIXXP_PRODUCT_SALE") || User.IsInRole("TIXXP_RESERVATION_SALE") || User.IsInRole("TIXXP_TICKET_SALE_BOOTH") || User.IsInRole("TIXXP_TICKET_SALE_WEB"))
                {
                    <li class="slide has-sub">
                        <a href="javascript:void(0);" class="side-menu__item">
                            <i class="bx bx-cart-alt side-menu__icon"></i>
                            <span class="side-menu__label">Sale</span>
                            <i class="fe fe-chevron-right side-menu__angle"></i>
                        </a>
                        <ul class="slide-menu child1">
                            @if (User.IsInRole("TIXXP_PRODUCT_SALE"))
                            {
                                <li class="slide has-sub">
                                    <a href="#" class="side-menu__item"> Product Sale<i class="fe fe-chevron-right side-menu__angle"></i></a>
                                    <ul class="slide-menu child2">
                                        <li class="slide"><a href="/ProductSale/Index" class="side-menu__item">Counter Sale</a></li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("TIXXP_TICKET_SALE_BOOTH") || User.IsInRole("TIXXP_TICKET_SALE_WEB"))
                            {
                                <li class="slide has-sub">
                                    <a href="#" class="side-menu__item">Ticket Sale<i class="fe fe-chevron-right side-menu__angle"></i></a>
                                    <ul class="slide-menu child2">
                                        @if (User.IsInRole("TIXXP_TICKET_SALE_BOOTH"))
                                        {
                                            <li class="slide"><a href="/TicketSale/Index" class="side-menu__item">GİŞE Satışı</a></li>
                                        }
                                        @if (User.IsInRole("TIXXP_TICKET_SALE_WEB"))
                                        {
                                            <li class="slide"><a href="/TicketSale/Index" class="side-menu__item">Web Satışı</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @* Rapor *@
                @if (User.IsInRole("TIXXP_REPORT_PRODUCT_SALE"))
                {
                    <li class="slide has-sub">
                        <a href="javascript:void(0);" class="side-menu__item">
                            <i class="bx bx-bar-chart-alt side-menu__icon"></i>
                            <span class="side-menu__label">Report</span>
                            <i class="fe fe-chevron-right side-menu__angle"></i>
                        </a>
                        <ul class="slide-menu child1">
                            <li class="slide has-sub">
                                <a href="#" class="side-menu__item">Product Sale<i class="fe fe-chevron-right side-menu__angle"></i></a>
                                <ul class="slide-menu child2">
                                    <li class="slide"><a href="/Report/ProductSaleReport" class="side-menu__item">Product Sale Report</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                }

                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-cog side-menu__icon"></i>
                        <span class="side-menu__label">Settings</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="/Reservation/CancelReservation" class="side-menu__item">
                                <i class="bi bi-tags-fill"></i>
                                <span class="side-menu__label ms-2">Rezervasyon Status Update</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/EventTicketPrice/Index" class="side-menu__item">
                                <i class="bi bi-tags-fill"></i>
                                <span class="side-menu__label ms-2">Event Ticket Price</span>
                            </a>
                        </li>
                     @*    @if (User.IsInRole("TIXXP_SEASONAL_PRICE"))
                        {
                            <li class="slide">
                                <a href="/SeasonalPrice/Index" class="side-menu__item">
                                    <i class="bi bi-tags-fill"></i>
                                    <span class="side-menu__label ms-2">Seasonal Price</span>
                                </a>
                            </li>
                        } *@
                        @if (User.IsInRole("TIXXP_ROLE_VIEW") || User.IsInRole("TIXXP_ROLE_GROUP_VIEW") || User.IsInRole("TIXXP_ROLE_GROUP_ROLE_VIEW"))
                        {
                            <li class="slide has-sub">
                                <a href="#" class="side-menu__item">
                                    <i class="fa fa-lock"></i>
                                    <span class="side-menu__label ms-2">Role Management</span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    @* @if (User.IsInRole("TIXXP_ROLE_VIEW"))
                                    {
                                        <li class="slide">
                                            <a href="/Role/Index" class="side-menu__item">Role</a>
                                        </li>
                                    } *@
                                    @if (User.IsInRole("TIXXP_ROLE_GROUP_VIEW"))
                                    {
                                        <li class="slide">
                                            <a href="/RoleGroup/Index" class="side-menu__item">Role Group</a>
                                        </li>
                                    }
                                    @if (User.IsInRole("TIXXP_ROLE_GROUP_ROLE_VIEW"))
                                    {
                                        <li class="slide">
                                            <a href="/RoleGroupRole/Index" class="side-menu__item text-wrap">Role Group<br />Role Mapping</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("TIXXP_MUSEUM"))
                        {
                            <li class="slide"><a href="/Museum/Index" class="side-menu__item"><i class="fa fa-university"></i><span class="side-menu__label ms-2">Museum</span></a></li>
                        }
                        @if (User.IsInRole("TIXXP_PRICE_CATEGORY"))
                        {
                            <li class="slide"><a href="/PriceCategory/Index" class="side-menu__item"><i class="fa fa-money"></i><span class="side-menu__label ms-2">Price Category</span></a></li>
                        }
                        @if (User.IsInRole("TIXXP_GUIDE"))
                        {
                            <li class="slide"><a href="/Guide/Index" class="side-menu__item"><i class="fa fa-camera"></i><span class="side-menu__label ms-2">Guide</span></a></li>
                        }
                        @if (User.IsInRole("TIXXP_AGENCY_LIST") || User.IsInRole("TIXXP_AGENCY_CONTRACT"))
                        {
                            <li class="slide has-sub">
                                <a href="#" class="side-menu__item"><i class="fa fa-building"></i><span class="side-menu__label ms-2">Agency</span><i class="fe fe-chevron-right side-menu__angle"></i></a>
                                <ul class="slide-menu child1">
                                    @if (User.IsInRole("TIXXP_AGENCY_LIST"))
                                    {
                                        <li class="slide"><a href="/Agency/Index" class="side-menu__item">Agency List</a></li>
                                    }
                                    @if (User.IsInRole("TIXXP_AGENCY_CONTRACT"))
                                    {
                                        <li class="slide"><a href="/AgencyContract/Index" class="side-menu__item text-wrap">Agecny Price<br />Category List</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("TIXXP_TICKET_TYPE") || User.IsInRole("TIXXP_TICKET_SUBTYPE"))
                        {
                            <li class="slide has-sub">
                                <a href="#" class="side-menu__item"><i class="fa fa-ticket"></i><span class="side-menu__label ms-2">Ticket</span><i class="fe fe-chevron-right side-menu__angle"></i></a>
                                <ul class="slide-menu child1">
                                    @if (User.IsInRole("TIXXP_TICKET_TYPE"))
                                    {
                                        <li class="slide"><a href="/TicketType/Index" class="side-menu__item">Ticket Type List</a></li>
                                    }
                                    @if (User.IsInRole("TIXXP_TICKET_SUBTYPE"))
                                    {
                                        <li class="slide"><a href="/TicketSubType/Index" class="side-menu__item text-wrap">Ticket Sub Type<br />List</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("TIXXP_CURRENCY_TYPE"))
                        {
                            <li class="slide"><a href="/CurrencyType/Index" class="side-menu__item"><i class="bi bi-bar-chart-line"></i><span class="side-menu__label ms-2">Currency Type</span></a></li>
                        }
                        @if (User.IsInRole("TIXXP_EVENT_LIST") || User.IsInRole("TIXXP_SESSION_LIST"))
                        {
                            <li class="slide has-sub">
                                <a href="#" class="side-menu__item"><i class="bi bi-basket"></i><span class="side-menu__label ms-2">Event</span><i class="fe fe-chevron-right side-menu__angle"></i></a>
                                <ul class="slide-menu child1">
                                    @if (User.IsInRole("TIXXP_EVENT_LIST"))
                                    {
                                        <li class="slide"><a href="/Event/Index" class="side-menu__item">Event List</a></li>
                                    }
                                    @if (User.IsInRole("TIXXP_SESSION_LIST"))
                                    {
                                        <li class="slide"><a href="/Session/Index" class="side-menu__item">Session List</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("TIXXP_BANK"))
                        {
                            <li class="slide"><a href="/Bank/Index" class="side-menu__item"><i class="bx bx-box"></i><span class="side-menu__label ms-2">Bank</span></a></li>
                        }
                        @if (User.IsInRole("TIXXP_PRODUCT_LIST") || User.IsInRole("TIXXP_PRODUCT_PRICE_LIST"))
                        {
                            <li class="slide has-sub">
                                <a href="#" class="side-menu__item"><i class="bi bi-basket"></i><span class="side-menu__label ms-2">Product</span><i class="fe fe-chevron-right side-menu__angle"></i></a>
                                <ul class="slide-menu child1">
                                    @if (User.IsInRole("TIXXP_PRODUCT_LIST"))
                                    {
                                        <li class="slide"><a href="/Product/Index" class="side-menu__item">Product List</a></li>
                                    }
                                    @if (User.IsInRole("TIXXP_PRODUCT_PRICE_LIST"))
                                    {
                                        <li class="slide"><a href="/ProductPrice/Index" class="side-menu__item">Product Price List</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("TIXXP_PERSONNEL"))
                        {
                            <li class="slide"><a href="/Personnel/Index" class="side-menu__item"><i class="bi bi-people"></i><span class="side-menu__label ms-2">User</span></a></li>
                        }
                        @if (User.IsInRole("TIXXP_COUNTER"))
                        {
                            <li class="slide"><a href="/Counter/Index" class="side-menu__item"><i class="bi bi-clipboard2-x"></i><span class="side-menu__label ms-2">Counter</span></a></li>
                        }
                    </ul>
                </li>
            </ul>
            <div class="slide-right" id="slide-right">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                </svg>
            </div>
        </nav>
    </div>
</aside>
<!-- End::app-sidebar -->