<!-- Meta Data -->
<meta charset="UTF-8">
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title> TixxApp</title>
<meta name="Description" content="TixxApp">
<meta name="Author" content="DEM Museums">
<meta name="keywords" content="agency,agency panel,dem,dem müzecilik,dem museums.">

<!-- Favicon -->
<link rel="icon" href="~/assets/images/brand-logos/favicon.ico" type="image/x-icon">