<!-- Meta Data -->
<meta charset="UTF-8">
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title> TixxApp | DEM Museums </title>
<meta name="Description" content="TixxApp | DEM Museums">
<meta name="Author" content="DEM Museums">
<meta name="keywords" content="tixxp">

<!-- Favicon -->
<link rel="icon" href="../assets/images/brand-logos/favicon.ico" type="image/x-icon">